version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: subtitles
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true